{% extends "layouts/base.html" %}
{% block title %}{{ _('កែប្រែសិទ្ធិ') }}{% endblock %}
{% block page_title %}{{ bi('កែប្រែសិទ្ធិ') }}{% endblock %}
{% block page_subtitle %}{{ bi('កែប្រែព័ត៌មានរបស់សិទ្ធិ %(name)s។', name=permission.code) }}{% endblock %}

{% block content %}
<a href="{{ url_for('tbl_permissions.detail', permission_id=permission.id) }}" class="back-link"><i class="bi bi-arrow-left"></i>{{ bi('ត្រឡប់ទៅព័ត៌មានលម្អិត') }}</a>
<div class="admin-card form-narrow">
    <form method="post" novalidate>
        {% include "permission/_form.html" %}
    </form>
</div>
{% endblock %}
