{% from "layouts/_admin_macros.html" import field %}

<div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title mb-0" id="createCategoryModalLabel">{{ bi('បន្ថែមប្រភេទ') }}</h5>
                    <small class="text-muted">{{ bi('បង្កើតប្រភេទជំងឺថ្មី។') }}</small>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('បិទ') }}"></button>
            </div>
            <form method="post" action="{{ url_for('expert_system.categories_create') }}" novalidate id="createCategoryForm">
                <div class="modal-body">
                    {{ form.hidden_tag() }}
                    <div class="form-section-title">{{ _('ព័ត៌មានប្រភេទ') }}</div>
                    <div class="row">
                        <div class="col-md-6">{{ field(form.name_km) }}</div>
                        <div class="col-md-6">{{ field(form.name) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">{{ field(form.description_km, rows=3) }}</div>
                        <div class="col-md-6">{{ field(form.description, rows=3) }}</div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-end gap-2">
                    <button type="button" class="btn btn-soft" data-bs-dismiss="modal">{{ _('បោះបង់') }}</button>
                    <button type="submit" class="btn btn-primary">{{ _('បង្កើតប្រភេទ') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
