{% extends "layouts/base.html" %}
{% block title %}{{ _('បង្កើតជំងឺ') }}{% endblock %}
{% block page_title %}{{ bi('បង្កើតជំងឺ') }}{% endblock %}
{% block page_subtitle %}{{ bi('បន្ថែមជំងឺថ្មី រួមជាមួយការព្យាបាលដែលបានណែនាំ។') }}{% endblock %}

{% block content %}
<a href="{{ url_for('expert_system.diseases_index') }}" class="back-link"><i class="bi bi-arrow-left"></i>{{ bi('ត្រឡប់ទៅជំងឺ') }}</a>
<div class="admin-card form-narrow">
    <form method="post" novalidate>{% include "expert_system/diseases/_form.html" %}</form>
</div>
{% endblock %}
